<div class="contain">
<h2 class="center">Edit Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="col-sm-6">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: 'form-control', autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <span class="fine">(leave blank if you don't want to change it)</span><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <span class="fine"><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>

  </div>
  <div class="col-sm-6">
    <div class="col-sm-6 no-gap">
      <div class="field">
        <%= f.label :avatar %><br />
        <%= image_tag(current_user.avatar.url, class: "circle profile-image") %>
      </div>
    </div>
    <div class="col-sm-6 no-gap">
      <label>Change avatar</label>
      <br>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <br>
      <% if current_user.avatar.present? %>
          <%= f.check_box :remove_avatar %> Remove Avatar
        <% end %>
    </div>
    <div class="clearfix"></div>
    <br>
    <label>Social Networks</label>
      <% if @user.uid.nil? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
        <% end -%>
      <% else %>
        <p>Connected to Twitter!</p>
      <% end %>
    <br>
    <label>Delete Account</label>
      <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Deleing your account cannot be undone. Are you sure?" }, method: :delete, class: 'btn btn-danger', style: "font-size:0.9em;padding:3px;margin-bottom:5px" %><br>
      <span class="fine">This will unrecoverably destroy your account and associated activity.</span>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-6 col-sm-offset-3">

    <div class="field">
      <%= f.label :current_password %> <span class="fine">(we need your current password to confirm your changes)</span><br />
      <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-success' %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
</div>