<div class="col-sm-12 contain">
<div class="col-sm-5 col-sm-offset-1">
<h2 class="center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <% if session["devise.twitter_data"] %>
    <%= f.hidden_field :provider, value: session["devise.twitter_data"]["provider"] %>
    <%= f.hidden_field :uid, value: session["devise.twitter_data"]["uid"] %>
  <% end %>

  <div class="field">
    <%= f.label "Username *" %>
    <%= f.text_field :username, value: (session["devise.twitter_data"]["info"]["nickname"] if session["devise.twitter_data"]["nickname"]), class: 'form-control', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Email *" %>
    <%= f.email_field :email, value: (session["devise.twitter_data"]["info"]["email"] if session["devise.twitter_data"]["email"]), class: 'form-control', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Password *" %>
    <% if @minimum_password_length %>
    <span class="fine">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Password Confirmation *" %>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <span class="fine">Max image size 1.5MB</span>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>
</div>
<div class="col-sm-5">
<h2 class="center">Connect an account</h2>

<div class="omniauthbox">
<% unless session["devise.twitter_data"] %>
  <%= link_to "Connect with Twitter", omniauth_authorize_path(User, "twitter"), class: "btn btn-info" %>
<% else %>
  <p>Twitter account connected!<br>
  Please complete the regisration on the left!</p>
<% end %>
<br />
</div>

</div>
<div class="clearfix"></div>
</div>