<% if current_user && current_user.follows?(@user.id) %>
<%= link_to "", relation_path(@relation), :method => :delete, class: 'col-xs-12 btn btn-success follow-active' %>
<% else %>
<%= (link_to raw("<span class='glyphicon glyphicon-plus' aria-hidden='true'></span><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Follow"), relations_path(related_id: @user.id, relationship: "follow"), method: :post, class: 'col-xs-12 btn btn-default follow') unless @user == current_user %>
<% end %>

<div class="clearfix"></div>
<hr>

<div class="col-xs-6 follow"><h4><%= @following %></h4><%= link_to 'Following', user_following_path(@user) %></div>
<div class="col-xs-6 follow"><h4><%= @followers %></h4><%= link_to 'Followers', user_followers_path(@user) %></div>

<div class="clearfix"></div>
<hr>

<div class="col-xs-12">
<%= link_to @user.posts.size.to_s + ' Check-ins', @user %><br>
<br>
<%= link_to @user.favorites.size.to_s + ' Favorite Games', user_favorites_path(@user) %><br>
<br>
<%= link_to @user.owned.size.to_s + ' Owned Games', user_owned_path(@user) %><br>
</div>