<div class="col-xs-12">
<%= link_to raw(@favorited_count + " <span class='glyphicon glyphicon-heart' aria-hidden='true'></span> Favorite Games"), user_favorites_path(@user), data: {no_turbolink: :true}, class: "col-xs-12 btn btn-default no-border" %><br>
<br>
<%= link_to raw(@owned_count + " <span class='glyphicon glyphicon-home' aria-hidden='true'></span> Owned Games"), user_owned_path(@user), class: "col-xs-12 btn btn-default no-border" %><br>
</div>
<hr>
<div class="popular col-xs-12">

<% unless @popular_with_friends.empty? %>
<h4>Trending with your Friends</h4>
<% @popular = @popular_with_friends %>
<%= render 'games/popular' %>
<% end %>
<br>
<% unless @most_popular.empty? %>
<h4>Trending Now</h4>
<% @popular = @most_popular %>
<%= render 'games/popular' %>
<%= link_to "More...", games_path(filter: "popular") %>
<% end %>

</div>