<div class="col-md-3 profile">
<div class="col-xs-12"><%= image_tag(@user.avatar.medium, class: 'circle profile-image') %><br>
<h1><%= @user.display_name %></h1></div>


<% if current_user %>
<%= render 'controls' %>
<% end %>

<div class="clearfix"></div>
<hr>

<div class="col-xs-6 follow"><h4><%= @following %></h4><%= link_to 'Following', user_following_path(@user) %></div>
<div class="col-xs-6 follow"><h4><%= @followers %></h4><%= link_to 'Followers', user_followers_path(@user) %></div>

<div class="clearfix"></div>
<hr>

<div class="col-xs-12">
<%= @user.posts.size %> <%= link_to 'Check-ins', @user %><br>
<br>
<%= @user.favorites.size %> Favorite Games:<br>
<ul>
<% @user.favorites.each do |f| %>
	<li><%= link_to f.title, f %></li>
<% end %>
</ul>

<%= @user.owned.size %> Owned Games:<br>
<ul>
<% @user.owned.each do |o| %>
	<li><%= link_to o.title, o %></li>
<% end %>
</ul>

</div>
<div class="clearfix"></div>
</div>