<div class="list-user contain">
	<div class="col-sm-4 center">
        <%= link_to image_tag(profile_picture(user), class: 'circle user-image'), user %>
		<% if current_user %>
			<% relation = Relation.find_by(user_id: current_user.id, related_id: user.id, relationship:"follow") %>
			<% if relation %>
				<%= link_to "", relation_path(relation), method: :delete, class: 'col-xs-12 btn btn-success follow-active' %>
			<% else %>
				<%= (link_to raw("<span class='glyphicon glyphicon-plus' aria-hidden='true'></span><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Follow"), relations_path(related_id: user.id, relationship: "follow"), method: :post, class: 'col-xs-12 btn btn-default follow') unless user == current_user %>
			<% end %>
		<% end %>
    </div>
    <div class="col-sm-8 center">
    	<span class="col-xs-12 user-name"><%= link_to user.display_name, user %></span>
    	<div class="col-xs-12">
			<%= render 'users/stats', user: user %>
		</div>
    </div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>