<%= content_for(:title, @user.username + "'s favorite games") %>
<div class="profile col-sm-4 contain">
<% #cache @user do %>
<%= render 'profile' %>
<% #end %>
<%= render 'controls' %>
</div>

<div class="feed col-sm-8">  
<h3 class="col-sm-12">Favorite Games</h3>

<div id="game-list">
<%= render @games %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @games %>
</div>
</div>