<%= content_for(:title, @user.display_name + "'s favorite games") %>
<%= content_for(:description, @user.display_name + "'s favorite games on Tokens") %>

<div class="col-sm-4">

<div class="contain profile">
	<%= render 'profile.amp.erb' %>
	<%= render 'controls.amp.erb' %>
</div>

</div>

<div class="feed col-sm-8">  
<h3 class="col-sm-12">Favorite Games</h3>

<div id="game-list" class="col-sm-12">
  <% unless @relations.empty? %>
    <% @relations.each do |r| %>
      <% game = r.related_item %>
      <%= render partial: game %>
    <% end %>
  <% else %>
      <div class="center padded">
        <h4><%= current_user == @user ? "You haven't" : @user.display_name + " hasn't" %> favorited any games yet!</h4>
      </div>
  <% end %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @relations %>
</div>

</div>