<%= content_for(:title, @user.display_name + "'s followers") %>
<%= content_for(:description, @user.display_name + "'s followers on Tokens") %>
<div class="col-sm-4">

<div class="no-mobile fixed contain profile">
<%= render 'profile' %>
<%= render 'controls' %>
</div>

<div class="only-mobile contain profile">
<%= render 'profile' %>
<%= render 'controls' %>
</div>

</div>

<div class="feed col-sm-8">  
<h3 class="col-sm-12">Followers</h3>

<div id="user-list" class="col-sm-12">
  <% unless @relations.empty? %>
    <% @relations.each do |r| %>
      <% user = r.related_item %>
      <%= render partial: user %>
    <% end %>
  <% else %>
      <div class="center padded">
        <h4><%= current_user == @user ? "You don't" : @user.display_name + " doesn't" %> have any followers yet!</h4>
      </div>
  <% end %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @relations %>
</div>
</div>