<div class="col-sm-3 padded">

<ul class="nav nav-pills nav-stacked padded">
  <li role="presentation" class="<%= @filter.nil? ? "active" : "" %>"><%= link_to "Search", users_path %></li>

  <% if current_user &&mcurrent_user.provider == "twitter" && current_user.uid && current_user.twitter_token && current_user.twitter_token_secret %>
  	<li role="presentation" class="<%= @filter == "twitter" ? "active" : "" %>"><%= link_to "Friends from Twitter", users_path(filter: "twitter") %></li>
  <% end %>
</ul>

</div>

<div class="padded col-sm-9">

<% if @filter.nil? %>

<div class="row">
  <div class="col-lg-6">
  	<%= form_tag users_path, :method => 'get' do %>	
    <div class="input-group">
      <%= text_field_tag :term, params[:term], class: "form-control", placeholder:"Username or email" %>      <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
      </span>
    </div>
  </div>
</div>
<% end %>

<% end %>

<div id="user-list" class="user-list padded">
	<%= render @users if @users %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @users unless @users.empty? %>
</div>

</div>