<%= content_for(:title, current_user.display_name + "'s notifications") %>
<%= content_for(:description, current_user.display_name + "'s notifications on Tokens") %>
<h3>Notifications</h3>
<% unless @notifications.empty? %>

<% @notifications.each do |n| %>

	<div class="list-user contain">
		<div class="col-xs-3 center">
        	<% u = (n.relationship == "mention" ? n.related_item.user : n.user) %>
        	<%= link_to image_tag(u.avatar.thumb, class: 'circle user-image'), u %>
   		</div>
    	<div class="col-xs-6 col-xs-offset-2">
    		<% if n.relationship == "follow" %>
    			<h4><%= link_to n.user.display_name, n.user %> has followed you!</h4>
    		<% elsif n.relationship == "nice" %>
    			<h4><%= link_to n.user.display_name, n.user %> niced your <%= link_to 'post', post_path(n.related_id) %>!</h4>
    		<% end %>
    		<p class="fine"><%= n.created_at.strftime("%B %d, %Y") %></p>
    	</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

<% end %> 

<% else %>

	<div class="center padded">
        <h4>You have no notifications!</h4>
    </div>

<% end %>