<%= content_for(:title, current_user.display_name + "'s notifications") %>
<%= content_for(:description, current_user.display_name + "'s notifications on Tokens") %>

<h3>Notifications</h3>
<% unless @notifications.empty? %>

    <% @notifications.each do |n| %>

	<div class="list-user contain">
		<div class="col-xs-3 center">
			<% u = (n.relationship == "mention" ? n.related_item.user : n.user) %>
        	<%= link_to image_tag(u.avatar.thumb, class: 'circle user-image'), u %>
			<% relation = Relation.find_by(user_id: current_user.id, related_id: u.id, relationship:"follow") %>
			<% if relation %>
				<%= link_to "", relation_path(relation), :method => :delete, class: 'col-xs-12 btn btn-success follow-active' %>
			<% else %>
				<%= (link_to raw("<span class='glyphicon glyphicon-plus' aria-hidden='true'></span><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Follow"), relations_path(related_id: u.id, relationship: "follow"), method: :post, class: 'col-xs-12 btn btn-default follow') unless u == current_user %>
			<% end %>
   		</div>
    	<div class="col-xs-6 col-xs-offset-2">
    		<% if n.relationship == "follow" %>
    			<h4><%= link_to n.user.display_name, n.user %> has followed you!</h4>
    		<% elsif n.relationship == "nice" %>
    			<h4><%= link_to n.user.display_name, n.user %> niced your <%= link_to 'post', post_path(n.related_id) %>!</h4>
    		<% elsif n.relationship == "mention" %>
    			<h4><%= link_to u.display_name, u %> mentioned you in a <%= link_to 'post', post_path(n.related_id) %>!</h4>
            <% elsif n.relationship == "comment" %>
                <h4><%= link_to u.display_name, u %> commented on <%= link_to 'your post', post_path(n.related_id) %>!</h4>
    		<% end %>
    		<p class="fine"><%= local_time(n.created_at) %></p>
    	</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

    <% end %> 

<% else %>

	<div class="center padded">
        <h4>You have no notifications!</h4>
    </div>

<% end %>