<%= content_for(:title, @user.username + "'s owned games") %>
<div class="profile col-sm-3">
<% #cache @user do %>
<%= render 'profile' %>
<% #end %>
<%= render 'controls' %>
</div>

<div class="feed col-sm-9">  
<h3>Owned Games</h3>

<div id="game-list">
<%= render @games %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @games %>
</div>
</div>