<%= content_for(:title, @user.display_name + "'s owned games") %>

<div class="col-sm-4">

<div class="contain profile">
	<%= render 'profile.amp.erb' %>
	<%= render 'controls.amp.erb' %>
</div>

</div>

<div class="feed col-sm-8">  
<h3 class="col-sm-12">Owned Games</h3>

<div id="game-list" class="col-sm-12">
  <% unless @games.empty? %>
    <%= render @games %>
  <% else %>
      <div class="center padded">
        <h4><%= current_user == @user ? "You haven't" : @user.display_name + " hasn't" %> marked any games as owned yet!</h4>
      </div>
  <% end %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @games %>
</div>
</div>