<%= image_tag(@user.avatar, class: 'profile') %><strong><%= @user.email %></strong><br>

<br>

<%= @following.size %> following<br>

<%= @followers.size %> followers<br>

Favorite Games:
<ul>
<% @user.favorites.each do |f| %>
	<li><%= link_to f.title, f %></li>
<% end %>
</ul>

Owned Games:
<ul>
<% @user.owned.each do |o| %>
	<li><%= link_to o.title, o %></li>
<% end %>
</ul>

<% if current_user.follows?(@user.id) %>
Following!
<% else %>
<%= link_to 'follow', new_relation_path(relationship: "follow", related_id: @user.id) unless @user == current_user %>
<% end %>

<hr>

<table>
  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= image_tag(post.game.img_url, width:'100px') %></td>
        <td><h4><%= post.user.email %> checked into <%= link_to post.game.title, post.game %></h4>
        <%= post.text %><br><br>
        <%= link_to ('at ' + post.created_at.to_s), post %><br>
        <%= post.nice_count %> <%= link_to 'Nice', new_relation_path(related_id: post.id, relationship: "nice") %><br></td>
      </tr>
    <% end %>
  </tbody>
</table>