<div class="col-xs-3">
<%= image_tag(@user.avatar, class: 'profile') %><br>
<strong><%= @user.display_name %></strong><br>
<%= link_to 'edit profile', edit_registration_path(current_user) if current_user == @user %>
<table>
  <tr>
    <td><%= @following.size %> following</td>
    <td><%= @followers.size %> followers</td>
  </tr>
</table>

Favorite Games:
<ul>
<% @user.favorites.each do |f| %>
	<li><%= link_to f.title, f %></li>
<% end %>
</ul>

Owned Games:
<ul>
<% @user.owned.each do |o| %>
	<li><%= link_to o.title, o %></li>
<% end %>
</ul>

<% if current_user.follows?(@user.id) %>
Following!
<% else %>
<%= link_to 'follow', new_relation_path(relationship: "follow", related_id: @user.id) unless @user == current_user %>
<% end %>

</div>
<div class="feed col-xs-9">
<table>
  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= image_tag(post.game.img_url, width:'100px') %></td>
        <td><h4><%= link_to post.user.display_name, post.user %> checked into <%= link_to post.game.title, post.game %></h4>
        <%= post.text %><br><br>
        <%= link_to ('on ' + post.created_at.strftime("%B %d %Y")), post %><br>
        <%= post.nice_count %> <%= link_to 'Nice', new_relation_path(related_id: post.id, relationship: "nice") %><br>
        <%= (link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }) if post.user == current_user %><br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>