profile page for <%= @user.email %>

<br>

<%= @following.size %> following<br>

<%= @followers.size %> followers<br>

Favorite Games:
<ul>
<% @user.favorites.each do |f| %>
	<li><%= link_to f.title, f %></li>
<% end %>
</ul>

Owned Games:
<ul>
<% @user.owned.each do |o| %>
	<li><%= link_to o.title, o %></li>
<% end %>
</ul>


<%= link_to 'follow', new_relation_path(relationship: "follow", related_id: @user.id) unless @user == current_user %>