<%= image_tag(@game.img_url.medium, class: 'game-image') %>
<h2><%= @game.title %> <span class="year"><%= @game.year %></span></h2>
<%= link_to 'Check in', new_post_path(game_id: @game.id), class: 'col-xs-12 btn btn-success' %>
<%= link_to "View on BoardGameGeek", ("https://www.boardgamegeek.com/boardgame/" + @game.id.to_s), class: 'col-xs-12 btn btn-default' %><br>
<%= render 'controls' %>
Total times checked into: <%= @game.posts.size %><br>
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>