<div class="col-sm-3">

<ul class="nav nav-pills nav-stacked padded">
  <li role="presentation"  class="<%= @filter.nil? ? "active" : "" %>"><%= link_to "Search", games_path %></li>
  <li role="presentation"  class="<%= @filter == "popular" ? "active" : "" %>"><%= link_to "Trending", games_path(filter: "popular") %></li>
  <li role="presentation" class="<%= @filter == "favorited" ? "active" : "" %>"><%= link_to "Most Favorited", games_path(filter: "favorited") %></li>
  <li role="presentation" class="<%= @filter == "owned" ? "active" : "" %>" ><%= link_to "Most Owned", games_path(filter: "owned") %></li>
  <li role="presentation" class="<%= @filter == "recent" ? "active" : "" %>" ><%= link_to "Most Recently Added", games_path(filter: "recent") %></li>
  <li role="presentation" class="<%= @filter == "import" ? "active" : "" %>" ><%= link_to "Import Missing Game", games_path(filter: "import") %></li>
</ul>

</div>

<div class="padded col-sm-9">

<% if @filter.nil? %>
  <div class="row">
    <div class="col-lg-6">
      <%= form_tag games_path, :method => 'get' do %> 
        <div class="input-group">
          <%= text_field_tag :term, params[:term], class: "form-control", placeholder:"Name of game" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% elsif @filter == "import" %>

  <h3>Import Missing Game</h3>
  <p>If you cannot find the game you're looking for, try to find it on <%= link_to 'BoardGameGeek', 'https://www.boardgamegeek.com' %>, then copy and paste the id from the url.
  </p>

  <p>For example, <em>Catan</em> can be found at 'https://boardgamegeek.com/boardgame/13/catan', so if it were missing, you would submit "13" in the bar below.
  </p>

  <p>Thank you for contributing to GameKeeper!
  </p>

  <div class="row">
    <div class="col-lg-6">
      <%= form_tag import_path, :method => 'get' do %> 
        <div class="input-group">
          <%= number_field_tag :id, params[:id], class: "form-control", placeholder:"Board Game Geek ID of Missing Game" %>
          <span class="input-group-btn">
            <%= submit_tag "Import", :name => nil, class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

<% end %>

<div id="game-list" class="game-list padded">
  <%= render @games %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @games unless @games.empty?  %>
</div>

</div>