<div class="col-sm-3">

<ul class="nav nav-pills nav-stacked padded">
  <li role="presentation"  class="<%= @filter.nil? ? "active" : "" %>"><%= link_to "Search", games_path %></li>
  <li role="presentation"  class="<%= @filter == "popular" ? "active" : "" %>"><%= link_to "Trending", games_path(filter: "popular") %></li>
  <li role="presentation" class="<%= @filter == "favorited" ? "active" : "" %>"><%= link_to "Most Favorited", games_path(filter: "favorited") %></li>
  <li role="presentation" class="<%= @filter == "owned" ? "active" : "" %>" ><%= link_to "Most Owned", games_path(filter: "owned") %></li>
  <li role="presentation" class="<%= @filter == "recent" ? "active" : "" %>" ><%= link_to "Most Recently Added", games_path(filter: "recent") %></li>
</ul>

</div>

<div class="padded col-sm-9">

<% if @filter.nil? %>

<div class="row">
  <div class="col-lg-6">
  	<%= form_tag games_path, :method => 'get' do %>	
    <div class="input-group">
      <%= text_field_tag :term, params[:term], class: "form-control", placeholder:"Name of game" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
      </span>
    </div>
  </div>
</div>
<% end %>

<% end %>

<div id="game-list" class="game-list padded">
	<%= render @games %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @games unless @games.empty?  %>
</div>

</div>