<div class="col-sm-3">

<ul class="nav nav-pills nav-stacked padded">
  <li role="presentation"  class="<%= @filter.nil? ? "active" : "" %>"><%= link_to "Search", games_path %></li>
  <li role="presentation"  class="<%= @filter == "popular" ? "active" : "" %>"><%= link_to "Trending", games_path(filter: "popular") %></li>
  <li role="presentation" class="<%= @filter == "favorited" ? "active" : "" %>"><%= link_to "Most Favorited", games_path(filter: "favorited") %></li>
  <li role="presentation" class="<%= @filter == "owned" ? "active" : "" %>" ><%= link_to "Most Owned", games_path(filter: "owned") %></li>
  <li role="presentation" class="<%= @filter == "recent" ? "active" : "" %>" ><%= link_to "Most Recently Added", games_path(filter: "recent") %></li>
</ul>

</div>

<div class="col-sm-9">

<div id="game-list" class="game-list padded">
	<%= render @games %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @game unless @games.empty? s %>
</div>

</div>