<%= @game.title %><br>
<%= image_tag(@game.img_url, width:'100px') %><br>
<%= @game.year %><br>
<%= link_to "View on BoardGameGeek", ("https://www.boardgamegeek.com/boardgame/" + @game.id.to_s) %><br>

<br>

Total times checked into: <%= @game.posts.size %><br>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%= link_to 'check in', new_post_path(game_id: @game.id) %><br>
<% if current_user.favorited?(@game) %>
Favorited
<% else %>
<%= link_to 'favorite', new_relation_path(related_id: @game.id, relationship: "favorite") %><br>
<% end %>
<% if current_user.owns?(@game) %>
Owned
<% else %>
<%= link_to 'mark owned', new_relation_path(related_id: @game.id, relationship: "owned") %><br>
<% end %>

<%= link_to 'Back', games_path %>