<%= content_for(:title, @game.title) %>

<div class="game">

<div class="col-sm-5 contain profile">
	<%= render 'profile.amp.erb' %>
	<%= render 'controls.amp.erb' %>
	<%= render 'stats.amp.erb', game: @game %>
	<div class="clearfix"></div>
	<hr>
	<p class="left description">
  		<strong>Description:</strong>
  		<%= @game.description %>
	</p>
</div>

<div class="feed col-sm-7">

<div id="posts">
	<% unless @posts.empty? %>
		<%= render @posts %>
	<% else %>
  		<div class="center padded">
    		<h4>No one has checked in to this game yet!</h4>
    		<p>Will you be the first?</p>
    	</div>
	<% end %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @posts %>
</div>

</div>
</div>