<%= content_for(:title, @game.title) %>
<%= content_for(:description, @game.title + " on Tokens") %>

<div class="game">

<div class="col-sm-5 contain profile">
	<%= render 'profile.amp.erb' %>
	<%= render 'controls.amp.erb' %>
	<%= render 'stats.amp.erb', game: @game %>
	<div class="clearfix"></div>
	<hr>
	<p class="left description">
  		<strong>Description:</strong>
  		<%= @game.description %>
	</p>
</div>

<div class="feed col-sm-7">

</div>

</div>