<%= form_with(model: post, local: true) do |form| %>

 <%= form.hidden_field :user_id, id: :post_user_id %>

<div class="post">
  <div class="col-sm-3 images">
    <%= image_tag(profile_picture(current_user, true), class: 'circle user-image') %>
    <%= image_tag(post.game.img_url.thumb, class: 'game-image') %>
  </div>
  <div class="col-sm-9">
    <h4><%= link_to post.user.display_name, post.user %> checked into <%= link_to post.game.title, post.game %></h4>
    <%= form.hidden_field :user_id, id: :post_user_id %>
    <%= form.text_area :text, id: :post_text, class: 'form-control' %>

    <%= form.submit "Save", class: 'btn btn-success col-xs-12' %>
  </div>
  <div class="clearfix"></div>
</div>

<% end %>