<%= form_with(model: post, local: true) do |form| %>

<div class="modal-body post">
  <div class="col-sm-3 images">
    <%= image_tag(current_user.avatar.thumb, class: 'circle user-image') %>
    <%= image_tag(@game.img_url.thumb, class: 'game-image') %>
  </div>
  <div class="col-sm-9">
    <h4><%= link_to post.user.display_name, post.user %> checked into <%= link_to post.game.title, post.game %></h4>
    <%= form.hidden_field :user_id, id: :post_user_id %>
    <%= form.hidden_field :game_id, id: :post_game_id %>
    <%= form.text_area :text, id: :post_text, class: 'form-control' %>

    <% if current_user.twitter_token && current_user.twitter_token_secret %>
      <%= form.check_box :tweet, id: :post_tweet, class: 'tweet' %> 
      Share to Twitter
    <% end %>

    <%= form.submit "Save", class: 'btn btn-success col-xs-12' %>
  </div>
  <div class="clearfix"></div>
</div>

<% end %>