<div class="post padded">
    <div class="col-sm-3 col-sm-offset-1 images no-gap">
        <%= link_to image_tag(post.user.avatar.thumb, size:'50', class: 'circle user-image'), user_path(post.user, format: :amp) %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to image_tag(post.game.img_url.thumb, size: '50', class: 'game-image'), game_path(post.game, format: :amp) %>
    </div>
    <div class="col-sm-7 col-sm-offset-1 no-gap">
        <hr>
    	<h4><%= link_to post.user.display_name, user_path(post.user, format: :amp) %> played <%= link_to post.game.title, game_path(post.game, format: :amp) %></h4>
        <%= content_tag(:p, post.text) %>
        <%= link_to ('on ' + post.created_at.strftime("%B %d, %Y")), post_path(post, format: :amp), class: 'timestamp' %><br>
        <hr>
    <%= render 'posts/controls', post: post %>
    </div>
    <div class="clearfix"></div>
</div>