<div class="post">
    <div class="col-sm-7 col-sm-offset-1 no-gap">
    	<h4><%= link_to post.user.display_name, user_path(post.user, format: :amp) %> played <%= link_to post.game.title, game_path(post.game, format: :amp) %></h4>
        <%= content_tag(:p, post.text) %>
        <%= link_to ('on ' + post.created_at.strftime("%B %d %Y")), post_path(post, format: :amp), class: 'timestamp' %><br>
        <hr>
    <%= render 'posts/controls.amp.erb', post: post %>
    </div>
</div>
<div class="clearfix"></div>