<% if current_user %>

<% @user = current_user %>
<%= content_for(:title, "Feed") %>

<div class="col-sm-5">

<div class="no-mobile profile contain">
<%= render 'users/profile' %>
<%= render 'users/discovery' %>
<div class="clearfix"></div>
</div>
<div class="no-mobile">
<%= render 'application/masthead' %>
</div>
</div>

<div class="feed col-sm-7">

<div id="posts">
<%= render @posts %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @posts %>
</div>
</div>
<% else %>

<%= content_for(:title, Rails.application.config.app_name) %>
<%= content_for(:description, "The Check-in App for Board Games!") %>

<div class="center contain no-gap">

<div class="intro col-lg-12">
	<%= image_tag('tokens_brand_color.png') %>
  <h3>The Check-in App for Board Games</h3>
</div>

<div class="features col-lg-12 no-gap">
  
  <div class="feature">
  	<div class="col-xs-12 col-md-6 graphic"><%= image_tag('shelf1.png', class: "fit") %></div>
  	<div class="col-xs-12 col-md-6 text">
    	<h4>Keep track of the games you play</h4>
    	<p>and share your check-ins to social networks.</p>
  	</div>
  </div>

  <div class="clearfix"></div>

  <div class="feature">
  	<div class="col-xs-12 col-md-6 pull-right graphic"><%= image_tag('shelf2.png', class: "fit") %></div>
  	<div class="col-xs-12 col-md-6 text">
    	<h4>See what your friends are playing</h4>
    	<p>and find out who to challenge to a game.</p>
  	</div>
  </div>

  <div class="clearfix"></div>

  <div class="feature">
  	<div class="col-xs-12 col-md-6 graphic"><%= image_tag('shelf3.png', class: "fit") %></div>
  	<div class="col-xs-12 col-md-6 text">
    	<h4>Keep your games organized</h4>
    	<p>by adding them to your profile's lists.</p>
  	</div>
  </div>

</div>

  <div class="clearfix"></div>

<div class="cta col-xs-12 col-md-6 col-md-offset-3">
	<%= link_to "Create an Account", new_user_registration_path, class: 'col-xs-12 btn btn-primary' %>
</div>

  <div class="clearfix"></div>

</div>
<% end %>