<%= content_for(:title, @post.name) %>

<div class="col-sm-4">
<div class="no-mobile fixed contain profile">
<%= render 'users/profile' %>
<%= render 'users/controls' %>
</div>

<div class="only-mobile contain profile">
<%= render 'users/profile' %>
<%= render 'users/controls' %>
</div>

</div>

<div class="feed col-sm-7 col-sm-offset-1">

<div id="post-list">
<%= render @post %>
</div>

</div>