<div class="contain">
<%= User.all.size %> users<br>
<%= Game.all.size %> games<br>
<%= Post.all.size %> check-ins<br>
<%= Relation.all.size %> relations<br>
</div>

<div class="center">
  <%= render 'application/masthead.html.erb' %>
</div>