<% if user_signed_in? %>
  <li><%= link_to raw('Notifications' + (@notifications.empty? ? '' : ' <span class="badge">' + @notifications.size.to_s + '</span>')), notifications_path %></li>
  <li class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  		<%= current_user.display_name %>
  		<%= image_tag(profile_picture(current_user, true), class: 'profile-navbar') %>
  		<span class="caret"></span>
  	</a>
    <ul class="dropdown-menu">
      <li><%= link_to 'View profile', current_user %></li>
  		<li><%= link_to 'Edit account', edit_user_registration_path %></li>
 	 	  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>