<!doctype html>
<html amp>
  <head>
    <meta charset="utf-8">

    <title><%= content_for?(:title) ? yield(:title) + " on " + Rails.application.config.app_name : Rails.application.config.app_name %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : content_for?(:title) ? yield(:title) + " on #{Rails.application.config.app_name}: The check-in app for board games!" : Rails.application.config.app_name + ": The check-in app for board games!" %>">
    
    <link rel="canonical" href="<%= rails_amp_canonical_url %>" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <%= render 'application/metadata' %>
    <% if Rails.application.assets && Rails.application.assets['amp/application'] %>
      <style amp-custom><%= Rails.application.assets['amp/application-amp'].to_s.html_safe %></style>
    <% else %>
      <style amp-custom><%= File.read("#{Rails.root}/public#{stylesheet_path('amp/application-amp', host: nil)}").html_safe %></style>
    <% end %>

    <%= rails_amp_google_analytics_head %>
    <%= rails_amp_html_header %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation.amp.erb' %>
    </header>
    <%= rails_amp_google_analytics_page_tracking %>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>